[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-poc-templates"]
	path = lib/forge-poc-templates
	url = https://github.com/immunefi-team/forge-poc-templates
